{% extends 'base.html.twig' %}

{% block title %}ReservationRon{% endblock %}

{% block body %}
    <h1> Réserver une randonnée </h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ reservation_ron.id }}</td>
            </tr>
            <tr>
                <th>NbrPersonne</th>
                <td>{{ reservation_ron.nbrPersonne }}</td>
            </tr>
            <tr>
                <th>Transport</th>
                <td>{{ reservation_ron.transport ? 'Yes' : 'No' }}</td>
            </tr>
            <tr>
                <th>Nourriture</th>
                <td>{{ reservation_ron.nourriture ? 'Yes' : 'No' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('reservation_ron_index') }}">back to list</a>

    <a href="{{ path('reservation_ron_edit', {'id': reservation_ron.id}) }}">edit</a>

    {{ include('reservation_ron/_delete_form.html.twig') }}
{% endblock %}
